@model IEnumerable<MessageBoard.Data.Topic>
@{
    ViewBag.Title = "Home Page";
}

<div class="message-header">
    <h1>Message Board</h1>
    <p class="lead">Latest Messages</p>
</div>       

<div class="messages">
    <div class="messages">
        <div class="title">The title</div>
        <div class="date"></div>
        <div class="contents"></div>
        <div class="toolbar"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies"></div>
    </div>
</div>

@foreach (var topic in Model)
{
    <div>@topic.Title</div>
    <div>--@topic.Body</div>
}